@import url('https://fpmts/googleapis.com/css2?family = Roboto+Slab:wght@500&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #181818;
  --sub-text-color: #ffffff;
  --main-color: #646cff;
  --backup-color: #1181dd91;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav{
  color: #1c96dd;
}

.mcpfp{
  height: 378px;
  width: 300px;
}

.yalepic{
  height: 200px;
  width: 200px;
}

.rutgerspic{
  height: 200px;
  width: 200px;
}

.cornellpic{
  height: 200px;
  width: 350px;
}

.jla{
  height: 250px;
  width: 350px;
}

.ycs{
  height: 200px;
  width: 200px;
}

.ydn{
  height: 200px;
  width: 300px;
}

.ymesba{
  height: 200px;
  width: 200px;
}

.dfa{
  height: 200px;
  width: 200px;
}

.mega{
  height: 200px;
  width: 200px;
}

.argo{
  height: 200px;
  width: 220px;
}

.nsda{
  height: 200px;
  width: 400px;
}

.orch{
  height: 200px;
  width: 300px;
}

.chinese{
  height: 200px;
  width: 200px;
}

.py{
  height: 200px;
  width: 400px;
}

.ten{
  height: 250px;
  width: 350px;
}

.bball{
  height: 300px;
  width: 200px;
}

.nyc{
  height: 250px;
  width: 200px;
}

.ymbb2{
  height: 273px;
  width: 408px;
}

.ymbb1{
  height: 273px;
  width: 407px;
}